<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td style="text-align: left; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 400;" valign="middle" width="100%">{{email.littleMoreTitle}}</td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td style="text-align: left; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;">
                                <ol style="color: #4d4d4d;">
                                  <li *ngFor="let link of links" style="text-align: right; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;">
                                    <a href="{{link.link}}?{{email.pagenameConverted}}{{link.addInterest}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{littleMoreUTM}}" style="display: block; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400; text-decoration: none!important;">{{link.show}}</a>
                                    <button *ngIf="email.showControls" align="right" style="text-align: right" class="remove" (click)="removeLink(link)">Remove Link</button>
                                  </li>
                                </ol>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title &nbsp;</label>
                                <input [(ngModel)]="programTitle" class="small-input" placeholder="ex: PBS NewsHour" (click)="this.select.selectAllText($event)">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input [(ngModel)]="programLink" class="small-input" placeholder="ex: https://www.pbssocal.org/programs/pbs-newshour/" (click)="this.select.selectAllText($event)">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="littleMore" class="destroy" *ngIf="email.showControls"></app-add-interest>
                            <tr class="destroy">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td align="right">
                                <button type="submit" class="btn btn-success" (click)="addNewLink();">Add Link</button>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM &nbsp;</label>
                                <input [(ngModel)]="littleMoreUTM" class="small-input" placeholder="ex: https://www.pbssocal.org/programs/pbs-newshour/" (click)="this.select.selectAllText($event)">
                              </td>
                            </tr>                           
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td style="text-align: left; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 400;" valign="middle" width="100%">{{littleMoreTitleRight}}</td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(littleMoreDescription)"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title &nbsp;</label>
                                <input [(ngModel)]="littleMoreTitleRight" class="small-input" placeholder="ex: Are you using the PBS app?" (focus)="this.select.selectAllText($event)" (change)="createTemplate.changeVariables('littleMoreTitleRight',littleMoreTitleRight);">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea [(ngModel)]="littleMoreDescription" class="description-small" placeholder="ex: Are you using the PBS app?" (focus)="this.select.selectAllText($event)" (change)="littleMoreDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('littleMoreDescription',littleMoreDescription);"></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>