<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#ffffff">
		<tbody>
			<tr>
				<td width="100%" align="center">
					<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile">
						<tbody>
							<tr>
								<td width="100%" align="center">
									<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
										<tbody>
											<tr>
												<td width="100%" height="16"></td>
											</tr>
											<tr>
												<td width="100%" valign="middle" class="logo" align="center">
													<table width="138" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; text-align: left;" class="fullCenter">
														<tbody>
															<tr>
																<td height="48" valign="middle" width="100%" class="fullCenter headmobile">
																	<a href="http://www.pbssocal.org/?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=logo" style="text-decoration: none;" (click)="$event.preventDefault()">
																		<img width="100" src="https://pbs-socal-email.s3.amazonaws.com/newsletters/highlights/pbssocal-logo.jpg" alt="PBS SoCal Logo" border="0">
																	</a>
																</td>
															</tr>
														</tbody>
													</table>
													<table width="1" border="0" cellpadding="0" cellspacing="0" align="right" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="full">
														<tbody>
															<tr>
																<td width="100%" height="8"></td>
															</tr>
														</tbody>
													</table>
													<table width="450" border="0" cellpadding="0" cellspacing="0" align="right" style="text-align: right; font-size: 14px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
														<tbody>
															<tr>
																<td height="48" valign="middle" width="100%" style="font-family: Arial, sans-serif; color: #000000; font-weight: 300;" class="headmobile">
																	<a href="http://www.pbssocal.org/watch-now/?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=watch-nav" style="text-decoration: none; color: #000000;" (click)="$event.preventDefault()">Watch</a>&nbsp;&#124;&nbsp;
																	<a href="http://www.pbssocal.org/schedule/?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=schedule-nav" style="text-decoration: none; color: #000000;" (click)="$event.preventDefault()">Schedule</a>&nbsp;&#124;&nbsp;
																	<a href="http://www.pbssocal.org/support/donate/?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=donate-nav" style="text-decoration: none; color: #000000;" (click)="$event.preventDefault()">Donate</a>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
  </table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#ffffff">
		<tbody>
			<tr>
				<td width="100%" valign="top" align="center">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
						<tbody>
							<tr>
								<td align="center">
									<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
										<tbody>
											<tr>
												<td width="100%" height="16"></td>
											</tr>
											<tr>
												<td width="100%" height="1" bgcolor="#f1f1f1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

   