<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td width="100%" valign="top" align="center">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile">
          <tbody>
            <tr>
              <td align="center">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                  <tbody>
                    <tr>
                      <td width="100%" align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                          <tbody>
                            <tr>
                              <td width="100%" height="16"></td>
                            </tr>
                            <tr>
                              <td valign="middle" width="100%" class="fullCenter" style="text-align: center;">
                                <p style="text-align: center; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;">
                                  <span>
                                    <a href="https://www.facebook.com/pbssocal" style="text-decoration: none;" (click)="$event.preventDefault()">
                                      <img src="https://s3-us-west-2.amazonaws.com/pbs-socal-email/transactions/facebook.png" width="12" alt="PBS SoCal Facebook" border="0">
                                    </a>
                                  </span>
                                  &nbsp;&nbsp;
                                  <span>
                                    <a href="https://www.twitter.com/pbssocal" style="text-decoration: none;" (click)="$event.preventDefault()">
                                      <img src="https://s3-us-west-2.amazonaws.com/pbs-socal-email/transactions/twitter.png" width="12" alt="PBS SoCal Twitter" border="0">
                                    </a>
                                  </span>
                                  &nbsp;&nbsp;
                                  <span>
                                    <a href="https://www.instagram.com/pbssocal" style="text-decoration: none;" (click)="$event.preventDefault()">
                                      <img src="https://s3-us-west-2.amazonaws.com/pbs-socal-email/transactions/instagram.png" width="12" alt="PBS SoCal Instagram" border="0">
                                    </a>
                                  </span>
                                  &nbsp;&nbsp;
                                  <span>
                                    <a href="https://go.snapchat.com/add/pbssocal" style="text-decoration: none;" (click)="$event.preventDefault()">
                                      <img src="https://s3-us-west-2.amazonaws.com/pbs-socal-email/transactions/snapchat.png" width="12" alt="PBS SoCal Snapchat" border="0">
                                    </a>
                                  </span>
                                  &nbsp;&nbsp;
                                  <span>
                                    <a href="https://www.youtube.com/c/pbssocal?sub_confirmation=1" style="text-decoration: none;" (click)="$event.preventDefault()">
                                      <img src="https://s3-us-west-2.amazonaws.com/pbs-socal-email/transactions/youtube.png" width="12" alt="PBS SoCal YouTube" border="0">
                                    </a>
                                  </span>
                                  <br> Copyright &copy; 2018 PBS SoCal
                                  <br>PO Box 33816, Los Angeles, CA 90033-0816
                                  <br>
                                  <a href="http://donate.pbssocal.org/site/CO" style="text-decoration: none; color: #4d4d4d;">Unsubscribe</a>
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <td width="100%" height="16"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>