<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{streamingNowTwoLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTwoLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{streamingNowTwoLeftAlt}}" border="0" class="hover" height="auto" src="{{streamingNowTwoLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTwoLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTwoLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{streamingNowTwoLeftProgram}}</span>
                                  <br class="destroy" *ngIf="streamingNowTwoLeftProgram && email.showControls">
                                  <div *ngIf="streamingNowTwoLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="streamingNowTwoLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTwoLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTwoLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{streamingNowTwoLeftTitle}}</span>
                                  <br class="destroy" *ngIf="streamingNowTwoLeftTitle && email.showControls">
                                  <div *ngIf="streamingNowTwoLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="streamingNowTwoLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoLeftProgram" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoLeftProgram',streamingNowTwoLeftProgram); addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoLeftTitle" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoLeftTitle',streamingNowTwoLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="streamingNowTwoLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(streamingNowTwoLeftDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + streamingNowTwoLeftLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=streaming-' + streamingNowTwoLeftUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Stream it here</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400; padding-bottom: 20px;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="streamingNowTwoLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('streamingNowTwoLeftDescription',streamingNowTwoLeftDescription);" [(ngModel)]="streamingNowTwoLeftDescription" (focus)="selectAllText($event)" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoLeftImage" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoLeftImage',streamingNowTwoLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoLeftAlt" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoLeftAlt',streamingNowTwoLeftAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoLeftLink" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoLeftLink',streamingNowTwoLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoLeftUTM" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoLeftUTM',streamingNowTwoLeftUTM)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{streamingNowTwoRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTwoRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{streamingNowTwoRightAlt}}" border="0" class="hover" height="auto" src="{{streamingNowTwoRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTwoRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTwoRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{streamingNowTwoRightProgram}}</span>
                                  <br class="destroy" *ngIf="streamingNowTwoRightProgram && email.showControls">
                                  <div *ngIf="streamingNowTwoRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="streamingNowTwoRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTwoRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTwoRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{streamingNowTwoRightTitle}}</span>
                                  <br class="destroy" *ngIf="streamingNowTwoRightTitle && email.showControls">
                                  <div *ngIf="streamingNowTwoRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="streamingNowTwoRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoRightProgram" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoRightProgram',streamingNowTwoRightProgram); addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoRightTitle" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoRightTitle',streamingNowTwoRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="streamingNowTwoRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(streamingNowTwoRightDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + streamingNowTwoRightLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=streaming-' + streamingNowTwoRightUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Stream it here</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="streamingNowTwoRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('streamingNowTwoRightDescription',streamingNowTwoRightDescription);" [(ngModel)]="streamingNowTwoRightDescription" (focus)="selectAllText($event)" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoRightImage" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoRightImage',streamingNowTwoRightImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoRightAlt" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoRightAlt',streamingNowTwoRightAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoRightLink" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoRightLink',streamingNowTwoRightLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTwoRightUTM" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTwoRightUTM',streamingNowTwoRightUTM);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>