<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr>
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{singleColumnLink}}?{{email.pagenameConverted}}{{email.singleColumnAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{singleColumnContent}}" (click)="$event.preventDefault()">
                                  <img alt="{{singleColumnImageAlt}}" border="0" class="hover" src="{{singleColumnImageSource}}" width="600">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr *ngIf="singleColumnTitle || singleColumnLocation">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{singleColumnLink}}?{{email.pagenameConverted}}{{email.singleColumnAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{singleColumnContent}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{singleColumnTitle}}</span>
                                  <br class="destroy" *ngIf="singleColumnTitle && email.showControls">
                                  <div *ngIf="singleColumnTitle && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="singleColumnTitle && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="singleColumnTitle || singleColumnLocation">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{singleColumnLink}}?{{email.pagenameConverted}}{{email.singleColumnAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{singleColumnContent}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{singleColumnLocation}}</span>
                                  <br class="destroy" *ngIf="singleColumnLocation && email.showControls">
                                  <div *ngIf="singleColumnLocation && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="singleColumnLocation && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="singleColumnDate">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(singleColumnDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td *ngIf="singleColumnDescription || singleColumnDate || singleColumnTitle" height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="singleColumnDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(singleColumnDescription)" class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>&nbsp;
                            </tr>
                            <tr *ngIf="singleColumnTitle || singleColumnButton || singleColumnLocation || singleColumnDate || singleColumnDescription">
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr *ngIf="singleColumnButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{singleColumnLink}}?{{email.pagenameConverted}}{{email.singleColumnAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{singleColumnContent}}">{{singleColumnButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr class="destroy">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title&nbsp;</label>
                                <input [(ngModel)]="singleColumnTitle" (focus)="select.selectAllText($event)" (change)="
this.addVariables();" placeholder="ex: Andrea Bocelli">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Location&nbsp;</label>
                                <input [(ngModel)]="singleColumnLocation" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleColumnLocation',singleColumnLocation);" placeholder="ex: MGM Grand Garden Arena, Las Vegas">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Date/Time (accepts HTML)&nbsp;</label>
                                <input [(ngModel)]="singleColumnDate" (focus)="select.selectAllText($event)" (change)="singleColumnDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('singleColumnDate',singleColumnDate);" placeholder="ex: December 1, 2018 at 8pm">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text</label>
                                <input [(ngModel)]="singleColumnButton" placeholder="ex: Have Questions About PBS SoCal Passport?" value="{{singleColumnButton}}" (click)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleColumnButton',singleColumnButton);">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea (focus)="select.selectAllText($event)" [(ngModel)]="singleColumnDescription" (change)="singleColumnDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('singleColumnDescription',singleColumnDescription);" placeholder="ex: If it's summertime, it's baseball time! Sure, PBS SoCal doesn't broadcast sports, but we can help you get to know the people who play the game. Or, in this case, are practically synonymous with the game. Discover the many sides of Baseball Hall of Famer and Boston Red Sox player Ted Williams, including his complex relationships with his Mexican-American background, family, press and fans."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input [(ngModel)]="singleColumnImageSource" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleColumnImageSource',singleColumnImageSource);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt Tag &nbsp;</label>
                                <input [(ngModel)]="singleColumnImageAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleColumnImageAlt',singleColumnImageAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input [(ngModel)]="singleColumnLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleColumnLink',singleColumnLink);" placeholder="Link for image, title, and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input [(ngModel)]="singleColumnContent" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleColumnContent',singleColumnContent);" placeholder="ex: The-Doctor-Blake-Mysteries">
                              </td>
                            </tr>
                            <app-add-interest-full-width [addComponent]="singleColumn" class="destroy full-width" *ngIf="email.showControls"></app-add-interest-full-width>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>