<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td width="100%" valign="top" align="center">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile">
          <tbody>
            <tr>
              <td align="center">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                  <tbody>
                    <tr>
                      <td width="100%" align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                          <tbody>
                            <tr>
                              <td width="100%" height="16"></td>
                            </tr>
                            <tr class="destroy">
                              <td>
                                <label>Email Template &nbsp;</label>
                                <select [(ngModel)]="templateSelected" (ngModelChange)="onTemplateSelect($event)">
                                  <option *ngFor="let o of option" [value]="o.id">
                                    {{o.name}}
                                  </option>
                                </select>
                              </td>
                            </tr>
                            <tr class="destroy">
                              <td>
                                <label>Luminate Subject Line &nbsp;</label>
                                <input [(ngModel)]="luminateSubjectLine" (focus)="select.selectAllText($event)" (change)="changeSubjectLine(); createTemplate.changeVariables('luminateSubjectLine', luminateSubjectLine);" placeholder="ex: New Adventures in Australia and Mexico">
                              </td>
                            </tr>
                            <tr class="destroy">
                              <td>
                                <label>Super Subject &nbsp;</label>
                                <input [(ngModel)]="superSubjectLink" (focus)="select.selectAllText($event)" placeholder="ex: Plus an in-depth look at families separated at the border." (change)="createTemplate.changeVariables('superSubjectLink', superSubjectLink); determineUTMSource(); ">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="templateSelected === 1 || templateSelected === 2">
                              <td>
                                <label>Pagename &nbsp;</label>
                                <input [(ngModel)]="pagename" (focus)="select.selectAllText($event)" placeholder="Leave this blank if not using" (change)="createTemplate.changeVariables('pagename', pagename); this.email.pagenameConverted = this.page.checkPage();">
                              </td>
                            </tr>
                            <tr class="destroy">
                              <td>
                                <label>UTM Source &nbsp;</label>
                                <ng-container *ngIf="templateSelected === 3">
                                  <input [matDatepicker]="myDatepicker" [(ngModel)]="date" (focus)="select.selectAllText($event)" (ngModelChange)="formatDate($event); createTemplate.changeVariables('utmSource', utmSource)" placeholder="ex: mm/dd/yyyy">
                                  <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                                  <mat-datepicker #myDatepicker></mat-datepicker>
                                </ng-container>
                                <ng-container *ngIf="templateSelected !== 3 && templateSelected !== 1">
                                  <input [(ngModel)]="utmSource" (focus)="select.selectAllText($event)" placeholder="Name Of Email" (change)="createTemplate.changeVariables('utmSource', utmSource);">
                                </ng-container>
                                <ng-container *ngIf="templateSelected === 1">
                                  <select [(ngModel)]="membershipSelected" (ngModelChange)="onMembershipSelect($event); createTemplate.setStorage()">
                                    <option *ngFor="let membership of membershipUTMSource" [value]="membership.id">
                                      {{membership.name}}
                                    </option>
                                  </select>
                                </ng-container>
                              </td>
                            </tr>
                            <tr class="destroy">
                              <td>
                                <label>UTM Campaign &nbsp;</label>
                                <input [(ngModel)]="utmCampaign" (focus)="select.selectAllText($event)" placeholder="ex: {{utmCampaign}}" (change)="createTemplate.changeVariables('utmCampaign', utmCampaign)">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>