mat-datepicker-toggle {
    position: absolute;
    margin-top: -10px;
    margin-left: 60px;
}

input.small-input {
    width: 276px;
}

select {
    float: right;
    width: 404px;
}

textarea.description-small{
    height:200px;
    width:276px;
}

.inline {
    display: inline;
}

