<table *ngIf="email.showControls" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative height-49" bgcolor="#ffffff">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{textDescriptionLink}}?{{email.pagenameConverted}}{{email.textDescriptionAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{textDescriptionContent}}" (click)="$event.preventDefault()">
                                  <img alt="{{textDescriptionImageAlt}}" border="0" class="hover" src="{{textDescriptionImageSource}}" width="600">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative" width="100%">
  <tbody>
    <tr *ngIf="showComponent">
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr *ngIf="textDescriptionText">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;">
                                {{textDescriptionSalutation}} 
                              </td>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(message)" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;"></td>
                            </tr>
                            <tr *ngIf="textDescriptionText">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="textDescriptionText">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(textDescriptionText)" class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Salutation &nbsp;</label>
                                <input [(ngModel)]="textDescriptionSalutation" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('textDescriptionSalutation',textDescriptionSalutation);" placeholder="ex: Dear">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea (focus)="select.selectAllText($event)" (change)="textDescriptionText = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('textDescriptionText',textDescriptionText);" [(ngModel)]="textDescriptionText" placeholder="ex: If it's summertime, it's baseball time! Sure, PBS SoCal doesn't broadcast sports, but we can help you get to know the people who play the game. Or, in this case, are practically synonymous with the game. Discover the many sides of Baseball Hall of Famer and Boston Red Sox player Ted Williams, including his complex relationships with his Mexican-American background, family, press and fans."></textarea>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr class="destroy">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input [(ngModel)]="textDescriptionImageSource" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('textDescriptionImageSource',textDescriptionImageSource);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt Tag &nbsp;</label>
                                <input [(ngModel)]="textDescriptionImageAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('textDescriptionImageAlt',textDescriptionImageAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input [(ngModel)]="textDescriptionLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('textDescriptionLink',textDescriptionLink);" placeholder="Link for image, title, and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input [(ngModel)]="textDescriptionContent" (focus)="select.selectAllText($event)"  (change)="createTemplate.changeVariables('textDescriptionContent',textDescriptionContent);" placeholder="ex: The-Doctor-Blake-Mysteries">
                              </td>
                            </tr>
                            <app-add-interest-full-width [addComponent]="textDescription" class="destroy" *ngIf="email.showControls"></app-add-interest-full-width>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>