<app-global-utm *ngIf="email.showControls"></app-global-utm>
<app-single-column-content></app-single-column-content>
<app-partner-spotlight></app-partner-spotlight>
<app-partner-spotlight-two></app-partner-spotlight-two>
<app-closing></app-closing>
<app-divider [showComponent]="showComponent"></app-divider>
<app-footer></app-footer>
<app-code-out *ngIf="!email.showControls"></app-code-out>