<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49"
  width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full"
  width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                          width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnThreeLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnThreeLeftUTM}}"
                                  style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnThreeLeftAlt}}" border="0" class="hover" height="auto"
                                    src="{{upcomingShowsColumnThreeLeftImage}}" style="width:100%!important; height: auto;"
                                    width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;"
                                valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnThreeLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnThreeLeftUTM}}"
                                  style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{email.upcomingShowsColumnThreeLeftProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnThreeLeftProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnThreeLeftProgram && email.showControls" class="controls"
                                    (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnThreeLeftProgram && email.showControls" class="controls"
                                    (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;"
                                valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnThreeLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnThreeLeftUTM}}"
                                  style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnThreeLeftTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnThreeLeftTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnThreeLeftTitle && email.showControls" class="controls"
                                    (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnThreeLeftTitle && email.showControls" class="controls"
                                    (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnThreeLeftAirDate)"
                                style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;"
                                valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeLeftProgram" (focus)="select.selectAllText($event)"
                                  (change)="
                                  createTemplate.changeVariables('upcomingShowsColumnThreeLeftProgram',upcomingShowsColumnThreeLeftProgram); addVariables();"
                                  placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeLeftTitle" (focus)="select.selectAllText($event)"
                                  (change)="createTemplate.changeVariables('upcomingShowsColumnThreeLeftTitle',upcomingShowsColumnThreeLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeLeftAirDate" (focus)="select.selectAllText($event)"
                                  (change)="upcomingShowsColumnThreeLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnThreeLeftAirDate',upcomingShowsColumnThreeLeftAirDate)"
                                  placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnThreeLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnThreeLeftDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnThreeLeftLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnThreeLeftUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')"
                                class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;"
                                valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnThreeLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnThreeLeftDescription',upcomingShowsColumnThreeLeftDescription);"
                                  [(ngModel)]="upcomingShowsColumnThreeLeftDescription" (focus)="select.selectAllText($event)"
                                  placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnThreeLeftImage',upcomingShowsColumnThreeLeftImage);"
                                  placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeLeftAlt" (focus)="select.selectAllText($event)"(change)="createTemplate.changeVariables('upcomingShowsColumnThreeLeftAlt',upcomingShowsColumnThreeLeftAlt);"
                                  placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnThreeLeftLink',upcomingShowsColumnThreeLeftLink);"
                                  placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnThreeLeftUTM',upcomingShowsColumnThreeLeftUTM);"
                                  placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                          width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnThreeRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnThreeRightUTM}}"
                                  style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnThreeRightAlt}}" border="0" class="hover" height="auto"
                                    src="{{upcomingShowsColumnThreeRightImage}}" style="width:100%!important; height: auto;"
                                    width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;"
                                valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnThreeRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnThreeRightUTM}}"
                                  style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{upcomingShowsColumnThreeRightProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnThreeRightProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnThreeRightProgram && email.showControls" class="controls"
                                    (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnThreeRightProgram && email.showControls" class="controls"
                                    (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;"
                                valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnThreeRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnThreeRightUTM}}"
                                  style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnThreeRightTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnThreeRightTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnThreeRightTitle && email.showControls" class="controls"
                                    (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnThreeRightTitle && email.showControls" class="controls"
                                    (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnThreeRightAirDate)"
                                style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;"
                                valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeRightProgram" (focus)="select.selectAllText($event)"
                                  (change)="
                                  createTemplate.changeVariables('upcomingShowsColumnThreeRightProgram',upcomingShowsColumnThreeRightProgram); addVariables();"
                                  placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnThreeRightTitle',upcomingShowsColumnThreeRightTitle); createTemplate.triggerUTMChange(true);"
                                  placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeRightAirDate" (focus)="select.selectAllText($event)"
                                  (change)="upcomingShowsColumnThreeRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnThreeRightAirDate',upcomingShowsColumnThreeRightAirDate);"
                                  placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnThreeRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnThreeRightDescription  +  '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnThreeRightLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnThreeRightUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')"
                                class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;"
                                valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnThreeRightDescription = createTemplate.changeParagraphTags($event)"
                                  [(ngModel)]="upcomingShowsColumnThreeRightDescription" (focus)="select.selectAllText($event)"  (change)="createTemplate.changeVariables('upcomingShowsColumnThreeRightDescription',upcomingShowsColumnThreeRightDescription);"
                                  placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeRightImage" (focus)="select.selectAllText($event)"  (change)="createTemplate.changeVariables('upcomingShowsColumnThreeRightImage',upcomingShowsColumnThreeRightImage);"
                                  placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnThreeRightAlt',upcomingShowsColumnThreeRightAlt);"
                                  placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnThreeRightLink',upcomingShowsColumnThreeRightLink);"
                                  placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnThreeRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnThreeRightUTM',upcomingShowsColumnThreeRightUTM);"
                                  placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                          width="1">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
