<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative height-49" bgcolor="#ffffff">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr *ngIf="closingImageSrc">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="closingImageSrc">
                              <td class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"><img alt="closing image" src="{{closingImageSrc}}" width="600"></td>
                            </tr>
                            <tr *ngIf="closingText">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="closingText">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(closingText)" class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr *ngIf="closingValediction">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="closingValediction">
                              <td class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">{{closingValediction}}</td>
                            </tr>
                            <tr *ngIf="closingName">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="closingName">
                              <td class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">{{closingName}},</td>
                            </tr>
                            <tr *ngIf="closingTitle">
                              <td class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">{{closingTitle}}</td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source</label>
                                <input (focus)="select.selectAllText($event)" [(ngModel)]="closingImageSrc" (change)="createTemplate.changeVariables('closingImageSrc',closingImageSrc);" placeholder="https://via.placeholder.com/600x338">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea [(ngModel)]="closingText" (focus)="select.selectAllText($event)" (change)="closingText = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('closingText',closingText);" placeholder="ex: If it's summertime, it's baseball time! Sure, PBS SoCal doesn't broadcast sports, but we can help you get to know the people who play the game. Or, in this case, are practically synonymous with the game. Discover the many sides of Baseball Hall of Famer and Boston Red Sox player Ted Williams, including his complex relationships with his Mexican-American background, family, press and fans."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Valediction &nbsp;</label>
                                <input [(ngModel)]="closingValediction" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('closingValediction',closingValediction)" placeholder="ex: Best Wishes">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Name &nbsp;</label>
                                <input [(ngModel)]="closingName" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('closingName',closingName)" placeholder="ex: Andy Trimlett">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title &nbsp;</label>
                                <input [(ngModel)]="closingTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('closingTitle',closingTitle)"  placeholder="ex: Streaming Video Nerd, PBS SoCal KOCE">
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>