<table *ngIf="email.showControls" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative height-49" bgcolor="#ffffff"> 
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td width="100%" valign="top" align="center">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile">
          <tbody>
            <tr>
              <td align="center">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                  <tbody>
                    <tr>
                      <td width="100%" align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                          <tbody>
                            <tr>
                              <td width="100%" height="16"></td>
                            </tr>
                            <tr>
                              <td valign="middle" width="100%" style="text-align: center; font-family: Arial, sans-serif; font-size: 34px; color: #000000; line-height: 38px; font-weight: 300; text-transform: uppercase;" class="heading">{{emailHeading}}</td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Heading</label><input [(ngModel)]="emailHeading" (focus)="this.select.selectAllText($event);" (change)="createTemplate.changeVariables('emailHeading',emailHeading);" placeholder="ex: PRODUCERS CLUB">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>