<app-divider [showComponent]="showComponent"></app-divider>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr>
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{bottomSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{bottomSingleColumnUTM}}" (click)="$event.preventDefault()">
                                  <img alt="{{bottomSingleColumnAlt}}" border="0" class="hover" src="{{bottomSingleColumnImage}}" width="600">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="bottomSingleColumnTitle || bottomSingleColumnSubTitle || bottomSingleColumnAdditionalInfo">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{bottomSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{bottomSingleColumnUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{bottomSingleColumnTitle}}</span>
                                  <br class="destroy" *ngIf="bottomSingleColumnTitle && email.showControls">
                                  <div *ngIf="bottomSingleColumnTitle && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="bottomSingleColumnTitle && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{bottomSingleColumnSubTitle}}</span>
                                  <br class="destroy" *ngIf="bottomSingleColumnSubTitle && email.showControls">
                                  <div *ngIf="bottomSingleColumnSubTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="bottomSingleColumnSubTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(bottomSingleColumnAdditionalInfo)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr *ngIf="bottomSingleColumnAdditionalInfo">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(bottomSingleColumnDescription)" class="full" style="text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr>
                              <td *ngIf="bottomSingleColumnDescription" height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="bottomSingleColumnButton">
                              <td align="center" style="padding-left: 16px; padding-right: 16px; padding-top: 0; padding-bottom: 0;">
                                <table border="0" align="center" cellpadding="0" cellspacing="0" class="emailButton" style="background-color: #5D5098; text-align: center;">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:30px;">
                                        <a href="{{bottomSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{bottomSingleColumnUTM}}" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none;" (click)="$event.preventDefault()">{{bottomSingleColumnButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="bottomSingleColumnButton">
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr *ngIf="(bottomSingleColumnDescription || bottomSingleColumnTitle) && email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Title&nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnTitle" (focus)="select.selectAllText($event)" (change)="
                            addVariables();" placeholder="ex: Mike Wheeler">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Subtitle&nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnSubTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('bottomSingleColumnSubTitle',bottomSingleColumnSubTitle);" placeholder="ex: He's here to help!">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>More Info (accepts HTML)&nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnAdditionalInfo" (focus)="select.selectAllText($event)" (change)="bottomSingleColumnAdditionalInfo = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('bottomSingleColumnAdditionalInfo',bottomSingleColumnAdditionalInfo);" placeholder="ex: Call Me<br>(949)216-0879">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Description (accepts HTML)&nbsp;</label>
                        <textarea id="top-description" (focus)="select.selectAllText($event)" (change)="bottomSingleColumnDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('bottomSingleColumnDescription',bottomSingleColumnDescription);" [(ngModel)]="bottomSingleColumnDescription" placeholder="ex: If it's summertime, it's baseball time! Sure, PBS SoCal doesn't broadcast sports, but we can help you get to know the people who play the game. Or, in this case, are practically synonymous with the game. Discover the many sides of Baseball Hall of Famer and Boston Red Sox player Ted Williams, including his complex relationships with his Mexican-American background, family, press and fans."></textarea>
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Source &nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnImage" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('bottomSingleColumnImage',bottomSingleColumnImage);" placeholder="Image Source">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Alt Tag &nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnAlt" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('bottomSingleColumnAlt',bottomSingleColumnAlt);" placeholder="Image Alt">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Link &nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnLink" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('bottomSingleColumnLink',bottomSingleColumnLink)" placeholder="Link for image, title, and button">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Button Text &nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnButton" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('bottomSingleColumnButton',bottomSingleColumnButton)"  placeholder="ex: PLAN YOUR JULY">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>UTM Content &nbsp;</label>
                        <input [(ngModel)]="bottomSingleColumnUTM" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('bottomSingleColumnUTM',bottomSingleColumnUTM);" placeholder="ex: Plan%20Your%20July">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>