button.remove {
    margin-top: 2em;
}

form {
    margin: 0 auto;
}

ul {
    font-family: Arial, sans-serif;
    list-style-type: none;
}

.angular {
    max-width: 600px;
}

.center {
    display: block;
    margin: 0 auto;
}