<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr>
                      <td class="full" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border:0;border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td class="adbanner" style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" width="100%">   
                                    <p *ngFor="let link of dataenjoylinks" style="font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;"><span *ngIf="link.show">{{link.show}},&nbsp;</span>
                                      <a href="{{link.link}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=enjoy-{{link.UTM}}" (click)="$event.preventDefault()">
                                        <i>{{link.title}}</i>
                                      </a>, {{link.date}}
                                      <br>
                                      <button *ngIf="email.showControls" class="remove" (click)="this.removeLink(link)">Remove Link</button>
                                    </p>   
                                <br>
                              </td>
                            </tr>
                              <tr class="destroy" *ngIf="email.showControls">
                                <td width="600">
                                  <label for="program">Program Name:&nbsp;</label>
                                  <input name="program" [(ngModel)]="programName" (focus)="select.selectAllText($event);" placeholder="ex: Articulate with Jim Cotter">
                                </td>
                              </tr>
                              <tr class="destroy" *ngIf="email.showControls">
                                <td width="600">
                                  <label for="title">Episode Title:&nbsp;</label>
                                  <input name="title" [(ngModel)]="programTitle" (focus)="select.selectAllText($event);" placeholder="ex: Jason Reynolds, Alisa Weilerstein, and Ibeyi">
                                </td>
                              </tr>
                              <tr class="destroy" *ngIf="email.showControls">
                                <td width="600">
                                  <label for="link">Episode Link:&nbsp;</label>
                                  <input name="link" [(ngModel)]="programLink" (focus)="select.selectAllText($event);" placeholder="ex: https://www.pbssocal.org/programs/articulate/jason-reynolds-alisa-weilerstein-and-ibeyi-7dq7qi/">
                                </td>
                              </tr>
                              <tr class="destroy" *ngIf="email.showControls">
                                <td width="600">
                                  <label for="airs">Airs On:&nbsp;</label>
                                  <input name="airs" [(ngModel)]="airsDate" (focus)="select.selectAllText($event);" placeholder="ex: Sunday, June 17, 6:00 p.m.">
                                </td>
                              </tr>
                              <br class="destroy" *ngIf="email.showControls">
                              <tr class="destroy" *ngIf="email.showControls">
                                <td align="center">
                                  <button type="submit" class="btn btn-success" (click)="addNewLink();">Add Link</button>
                                </td>
                              </tr> 
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>