<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td width="100%" valign="top" align="center">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile">
          <tbody>
            <tr>
              <td align="center">
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                  <tbody>
                    <tr>
                      <td width="100%" align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                          <tbody>
                            <tr>
                              <td width="100%" height="32"></td>
                            </tr>
                            <tr>
                              <td valign="middle" width="100%" style="text-align: center; font-family: Arial, sans-serif; font-size: 34px; color: #000000; line-height: 38px; font-weight: 300; text-transform: uppercase;" class="heading">WHAT TO WATCH THIS WEEK</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  </table>