<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" class="full" border="0" cellspacing="0" cellpadding="0" width="100%" align="center" bgcolor="#FFFFFF">
  <tbody>
    <tr>
      <td width="100%" align="center" valign="top">
        <table class="mobile" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
          <tbody>
            <tr>
              <td align="center">
                <table class="full" border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                  <tbody>
                    <tr>
                      <td width="100%" align="center">
                        <table class="full" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                          <tbody>
                            <tr>
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="text-align: center; line-height: 1px;" width="100%" align="center" [ngClass]="passportLearnMoreImage === 'https://s3-us-west-2.amazonaws.com/pbs-socal-email/newsletters/highlights/2017/6/socal-passport-black.jpg' ? 'normal' : 'image600'">
                                <a style="text-decoration: none;" href="{{email.passportLearnMoreLink}}?{{email.pagenameConverted}}{{email.passportLearnMoreAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content=Passport%20FAQ"><img class="hover" width="auto" src="{{passportLearnMoreImage}}" border="0" alt="banner ad"></a>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source:</label>
                                <input [(ngModel)]="passportLearnMoreImage" placeholder="ex: https://s3-us-west-2.amazonaws.com/pbs-socal-email/newsletters/highlights/2017/6/socal-passport-black.jpg" value="{{passportLearnMoreImage}}" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportLearnMoreImage',passportLearnMoreImage)">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>