<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr>
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{topSingleColumnLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{topSingleColumnUTM}}" (click)="$event.preventDefault()">
                                  <img alt="{{topSingleColumnImageAlt}}" border="0" class="hover" src="{{topSingleColumnImageSource}}" width="600">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{topSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{topSingleColumnUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{topSingleColumnProgram}}</span>
                                  <br class="destroy" *ngIf="topSingleColumnProgram && email.showControls">
                                  <div *ngIf="topSingleColumnProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="topSingleColumnProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{topSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{topSingleColumnUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{topSingleColumnTitle}}</span>
                                  <br class="destroy" *ngIf="topSingleColumnTitle && email.showControls">
                                  <div *ngIf="topSingleColumnTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="topSingleColumnTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(topSingleColumnAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr *ngIf="topSingleColumnDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="topSingleColumnDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(topSingleColumnDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + topSingleColumnLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + topSingleColumnUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')" class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr *ngIf="topSingleColumnProgram || topSingleColumnDescription || topSingleColumnTitle || topSingleColumnAirDate">
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name&nbsp;</label>
                                <input [(ngModel)]="topSingleColumnProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: Ted Williams">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Episode Title&nbsp;</label>
                                <input [(ngModel)]="topSingleColumnTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('topSingleColumnTitle', topSingleColumnTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: The Greatest Hitter Who Ever Lived">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML)&nbsp;</label>
                                <input [(ngModel)]="topSingleColumnAirDate" (focus)="select.selectAllText($event)" (change)="topSingleColumnAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('topSingleColumnAirDate', topSingleColumnAirDate)" placeholder="ex: TONIGHT 8:00 p.m.<br>Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea id="top-description" (focus)="select.selectAllText($event)" (change)="topSingleColumnDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('topSingleColumnDescription', topSingleColumnDescription)" [(ngModel)]="topSingleColumnDescription" placeholder="ex: If it's summertime, it's baseball time! Sure, PBS SoCal doesn't broadcast sports, but we can help you get to know the people who play the game. Or, in this case, are practically synonymous with the game. Discover the many sides of Baseball Hall of Famer and Boston Red Sox player Ted Williams, including his complex relationships with his Mexican-American background, family, press and fans."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input [(ngModel)]="topSingleColumnImageSource" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('topSingleColumnImageSource', topSingleColumnImageSource)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt Tag &nbsp;</label>
                                <input [(ngModel)]="topSingleColumnImageAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('topSingleColumnImageAlt', topSingleColumnImageAlt)" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input [(ngModel)]="topSingleColumnLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('topSingleColumnLink', topSingleColumnLink)" placeholder="Link for image, title, and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input [(ngModel)]="topSingleColumnUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('topSingleColumnUTM', topSingleColumnUTM);" placeholder="ex: The-Doctor-Blake-Mysteries">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>