<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnTopLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTopLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnTopLeftAlt}}" border="0" class="hover" height="auto" src="{{upcomingShowsColumnTopLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTopLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTopLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{upcomingShowsColumnTopLeftProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTopLeftProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTopLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTopLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTopLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTopLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnTopLeftTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTopLeftTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTopLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTopLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTopLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopLeftProgram" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopLeftProgram', upcomingShowsColumnTopLeftProgram);addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopLeftTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopLeftTitle', upcomingShowsColumnTopLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopLeftAirDate" (focus)="select.selectAllText($event)" (change)="upcomingShowsColumnTopLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTopLeftAirDate', upcomingShowsColumnTopLeftAirDate)" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnTopLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTopLeftDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnTopLeftLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnTopLeftUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnTopLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTopLeftDescription', upcomingShowsColumnTopLeftDescription)" [(ngModel)]="upcomingShowsColumnTopLeftDescription" (focus)="select.selectAllText($event)" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopLeftImage', upcomingShowsColumnTopLeftImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopLeftAlt', upcomingShowsColumnTopLeftAlt)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopLeftLink', upcomingShowsColumnTopLeftLink)" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopLeftUTM', upcomingShowsColumnTopLeftUTM)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnTopRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTopRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnTopRightAlt}}" border="0" class="hover" height="auto" src="{{upcomingShowsColumnTopRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTopRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTopRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{upcomingShowsColumnTopRightProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTopRightProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTopRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTopRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTopRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTopRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnTopRightTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTopRightTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTopRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTopRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTopRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopRightProgram" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopRightProgram', upcomingShowsColumnTopRightProgram); addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopRightTitle',upcomingShowsColumnTopRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopRightAirDate" (focus)="select.selectAllText($event)" (change)="upcomingShowsColumnTopRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTopRightAirDate',upcomingShowsColumnTopRightAirDate)" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnTopRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTopRightDescription  +  '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnTopRightLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnTopRightUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnTopRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTopRightDescription',upcomingShowsColumnTopRightDescription)" [(ngModel)]="upcomingShowsColumnTopRightDescription" (focus)="select.selectAllText($event)" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopRightImage',upcomingShowsColumnTopRightImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopRightAlt',upcomingShowsColumnTopRightAlt)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopRightLink',upcomingShowsColumnTopRightLink)" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTopRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTopRightUTM',upcomingShowsColumnTopRightUTM)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="1">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>