textarea {
    display: block;
    float: initial;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 80px;
    width: 100%;
    padding: 20px;
    height: 500px;
}

@media (max-width: 640px) {
    textarea {
        max-width: 315px;
    }
}