<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr>
                      <td class="full" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="sborder:0;border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td class="adbanner" style="text-align: center;" width="100%">
                                  <a *ngFor="let ad of supporters" href="{{ad.link}}" class="skip-this-node ads" style="display:inline; vertical-align:bottom; text-decoration: none;" rel="nofollow noopener" (click)="$event.preventDefault()"><img alt={{ad.alt}} style="vertical-align:bottom;" border="0" class="full skip-this-node" height="auto" [src]="ad.image" width="300"><button *ngIf="email.showControls" class="removeAd" (click)="removeAd(ad); $event.stopPropagation(); $event.preventDefault()">Remove Ad</button></a>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <label>Image Source</label>
                              <input [(ngModel)]="image" (focus)="select.selectAllText($event)" placeholder="ex: http://via.placeholder.com/300x250">
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <label>Supporter Link</label>
                              <input [(ngModel)]="link" (focus)="select.selectAllText($event)" placeholder="ex: https://www.foapom.com/pageant-of-the-masters/">
                            </tr>                          
                            <tr class="destroy" *ngIf="email.showControls">
                              <label>Image Alt</label>
                              <input [(ngModel)]="alt" (focus)="select.selectAllText($event)" placeholder="ex: Click to view Pageant of the Masters - one of our supporters">
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td align="center">
                                <button (click)="addSupporter(image, link, alt)">Add Supporter</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>