<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="32" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonTopLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonTopLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTopLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonTopLeftAlt}}" border="0" class="hover" height="auto" src="{{comingSoonTopLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTopLeftProgram || comingSoonTopLeftTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonTopLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonTopLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTopLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonTopLeftProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonTopLeftProgram && email.showControls">
                                  <div *ngIf="comingSoonTopLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonTopLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonTopLeftTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonTopLeftTitle && email.showControls">
                                  <div *ngIf="comingSoonTopLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonTopLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTopLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTopLeftButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonTopLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonTopLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTopLeftUTM}}" (click)="$event.preventDefault()">{{comingSoonTopLeftButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonTopLeftDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTopLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTopLeftDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopLeftTitle',comingSoonTopLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonTopLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTopLeftAirDate',comingSoonTopLeftAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopLeftButton',comingSoonTopLeftButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonTopLeftDescription" (change)="comingSoonTopLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTopLeftDescription',comingSoonTopLeftDescription)" (focus)="select.selectAllText($event)" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopLeftImage',comingSoonTopLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopLeftAlt',comingSoonTopLeftAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopLeftLink',comingSoonTopLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopLeftUTM',comingSoonTopLeftUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topLeft" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonTopRightLink}}?{{email.pagenameConverted}}{{email.comingSoonTopRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTopRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonTopRightAlt}}" border="0" class="hover" height="auto" src="{{comingSoonTopRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTopRightProgram || comingSoonTopRightTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonTopRightLink}}?{{email.pagenameConverted}}{{email.comingSoonTopRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTopRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonTopRightProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonTopRightProgram && email.showControls">
                                  <div *ngIf="comingSoonTopRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonTopRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonTopRightTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonTopRightTitle && email.showControls">
                                  <div *ngIf="comingSoonTopRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonTopRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTopRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTopRightButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonTopRightLink}}?{{email.pagenameConverted}}{{email.comingSoonTopRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTopRightUTM}}" (click)="$event.preventDefault()">{{comingSoonTopRightButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonTopRightDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTopRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTopRightDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopRightTitle',comingSoonTopRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonTopRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTopRightAirDate',comingSoonTopRightAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopRightButton',comingSoonTopRightButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonTopRightDescription" (focus)="select.selectAllText($event)" (change)="comingSoonTopRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTopRightDescription', comingSoonTopRightDescription);"  placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopRightImage',comingSoonTopRightImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopRightAlt',comingSoonTopRightAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopRightLink',comingSoonTopRightLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTopRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTopRightUTM',comingSoonTopRightUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topRight" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>