<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnBottomLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnBottomLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnBottomLeftAlt}}" border="0" class="hover" height="auto" src="{{upcomingShowsColumnBottomLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnBottomLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnBottomLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{upcomingShowsColumnBottomLeftProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnBottomLeftProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnBottomLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnBottomLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnBottomLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnBottomLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnBottomLeftTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnBottomLeftTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnBottomLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnBottomLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnBottomLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomLeftProgram" (focus)="select.selectAllText($event)" (change)="
                                createTemplate.changeVariables('upcomingShowsColumnBottomLeftProgram',upcomingShowsColumnBottomLeftProgram); addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomLeftTitle" (focus)="select.selectAllText($event)" (change)="
                                createTemplate.changeVariables('upcomingShowsColumnBottomLeftTitle',upcomingShowsColumnBottomLeftTitle); createTemplate.triggerUTMChange(true)" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomLeftAirDate" (focus)="select.selectAllText($event)" (change)="upcomingShowsColumnBottomLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnBottomLeftAirDate',upcomingShowsColumnBottomLeftAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnBottomLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnBottomLeftDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnBottomLeftLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnBottomLeftUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnBottomLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnBottomLeftDescription',upcomingShowsColumnBottomLeftDescription);" [(ngModel)]="upcomingShowsColumnBottomLeftDescription" (focus)="select.selectAllText($event)" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomLeftImage',upcomingShowsColumnBottomLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomLeftAlt',upcomingShowsColumnBottomLeftAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomLeftLink',upcomingShowsColumnBottomLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomLeftUTM',upcomingShowsColumnBottomLeftUTM);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnBottomRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnBottomRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnBottomRightAlt}}" border="0" class="hover" height="auto" src="{{upcomingShowsColumnBottomRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnBottomRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnBottomRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{upcomingShowsColumnBottomRightProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnBottomRightProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnBottomRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnBottomRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnBottomRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnBottomRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnBottomRightTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnBottomRightTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnBottomRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnBottomRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnBottomRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomRightProgram" (focus)="select.selectAllText($event)" (change)="
                                createTemplate.changeVariables('upcomingShowsColumnBottomRightProgram', upcomingShowsColumnBottomRightProgram); addVariables()" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomRightTitle" (focus)="select.selectAllText($event)" placeholder="ex: Whose Streets" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomRightTitle',upcomingShowsColumnBottomRightTitle); createTemplate.triggerUTMChange(true);">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomRightAirDate" (focus)="select.selectAllText($event)" (change)="upcomingShowsColumnBottomRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnBottomRightAirDate',upcomingShowsColumnBottomRightAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnBottomRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnBottomRightDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnBottomRightLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium +'&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnBottomRightUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')" class="full" style="display: inline;text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnBottomRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnBottomRightDescription',upcomingShowsColumnBottomRightDescription);" [(ngModel)]="upcomingShowsColumnBottomRightDescription" (focus)="select.selectAllText($event)" placeholder="ex: Our second new Summer of Adventure show this week! Mexico’s Yucatan peninsula, home to the Maya, is a forest rich in wildlife, including monkeys, jaguars and tropical birds. Join us to journey south along Mexico's mountain spine, and explore the tropical forests of the Maya to discover a secret underworld, which holds the key to life."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomRightImage',upcomingShowsColumnBottomRightImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomRightAlt',upcomingShowsColumnBottomRightAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomRightLink',upcomingShowsColumnBottomRightLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnBottomRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnBottomRightUTM',upcomingShowsColumnBottomRightUTM);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
                          <tr>
                            <td align="center" style="padding-left: 16px; padding-right: 16px; padding-top: 0; padding-bottom: 0;">
                              <table border="0" align="center" cellpadding="0" cellspacing="0" class="emailButton" style="background-color: #5D5098; text-align: center;">
                                <tbody>
                                  <tr>
                                    <td align="center" valign="middle" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:30px;">
                                      <a href="https://www.pbssocal.org/schedule/?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content=streaming%20now%20section" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none;" (click)="$event.preventDefault()">Check Schedule</a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="16" width="100%"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>