<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="32" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{streamingNowTopLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTopLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{streamingNowTopLeftAlt}}" border="0" class="hover" height="auto" src="{{streamingNowTopLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTopLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTopLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{streamingNowTopLeftProgram}}</span>
                                  <br class="destroy" *ngIf="streamingNowTopLeftProgram && email.showControls">
                                  <div *ngIf="streamingNowTopLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="streamingNowTopLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTopLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTopLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{streamingNowTopLeftTitle}}</span>
                                  <br class="destroy" *ngIf="streamingNowTopLeftTitle && email.showControls">
                                  <div *ngIf="streamingNowTopLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="streamingNowTopLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopLeftProgram" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopLeftProgram',streamingNowTopLeftProgram); addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopLeftTitle" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopLeftTitle',streamingNowTopLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="streamingNowTopLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(streamingNowTopLeftDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + streamingNowTopLeftLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=streaming-' + streamingNowTopLeftUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Stream it here</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400; padding-bottom: 20px;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="streamingNowTopLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('streamingNowTopLeftDescription',streamingNowTopLeftDescription);" [(ngModel)]="streamingNowTopLeftDescription" (focus)="selectAllText($event)" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopLeftImage" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopLeftImage',streamingNowTopLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopLeftAlt" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopLeftAlt',streamingNowTopLeftAlt)" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopLeftLink" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopLeftLink',streamingNowTopLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopLeftUTM" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopLeftUTM',streamingNowTopLeftUTM);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{streamingNowTopRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTopRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{streamingNowTopRightAlt}}" border="0" class="hover" height="auto" src="{{streamingNowTopRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTopRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTopRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{streamingNowTopRightProgram}}</span>
                                  <br class="destroy" *ngIf="streamingNowTopRightProgram && email.showControls">
                                  <div *ngIf="streamingNowTopRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="streamingNowTopRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{streamingNowTopRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=streaming-{{streamingNowTopRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{streamingNowTopRightTitle}}</span>
                                  <br class="destroy" *ngIf="streamingNowTopRightTitle && email.showControls">
                                  <div *ngIf="streamingNowTopRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="streamingNowTopRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopRightProgram" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopRightProgram',streamingNowTopRightProgram); addVariables()" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopRightTitle" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopRightTitle',streamingNowTopRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="streamingNowTopRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(streamingNowTopRightDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + streamingNowTopRightLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=streaming-' + streamingNowTopRightUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Stream it here</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="streamingNowTopRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('streamingNowTopRightDescription',streamingNowTopRightDescription);" [(ngModel)]="streamingNowTopRightDescription" (focus)="selectAllText($event)" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopRightImage" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopRightImage',streamingNowTopRightImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopRightAlt" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopRightAlt',streamingNowTopRightAlt)" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopRightLink" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopRightLink',streamingNowTopRightLink)" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="streamingNowTopRightUTM" (focus)="selectAllText($event)" (change)="createTemplate.changeVariables('streamingNowTopRightUTM',streamingNowTopRightUTM)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>