<tr class="destroy">
  <td class="full-width">
    <label>Add Interest &nbsp;</label>
    <select [(ngModel)]="email[addComponent]" (ngModelChange)="this.interest.setAddInterests($event, addComponent); createTemplate.setStorage();">
      <option *ngFor="let interest of addInterest" [value]="interest.id">
        {{interest.category}}{{interest.id == 0 ? '' : '(' + interest.id + ')'}}
      </option>
    </select>
  </td>
</tr>