<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonTwoLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonTwoLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTwoLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonTwoLeftAlt}}" border="0" class="hover" height="auto" src="{{comingSoonTwoLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTwoLeftProgram || comingSoonTwoLeftTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonTwoLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonTwoLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTwoLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonTwoLeftProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonTwoLeftProgram && email.showControls">
                                  <div *ngIf="comingSoonTwoLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonTwoLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonTwoLeftTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonTwoLeftTitle && email.showControls">
                                  <div *ngIf="comingSoonTwoLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonTwoLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTwoLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTwoLeftButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonTwoLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonTwoLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTwoLeftUTM}}" (click)="$event.preventDefault()">{{comingSoonTwoLeftButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonTwoLeftDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTwoLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTwoLeftDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoLeftTitle',comingSoonTwoLeftTitle);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonTwoLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTwoLeftAirDate',comingSoonTwoLeftAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoLeftButton',comingSoonTwoLeftButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonTwoLeftDescription" (focus)="select.selectAllText($event)" (change)="comingSoonTwoLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTwoLeftDescription',comingSoonTwoLeftDescription);" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoLeftImage',comingSoonTwoLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoLeftAlt',comingSoonTwoLeftAlt);"  placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoLeftLink',comingSoonTwoLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoLeftUTM',comingSoonTwoLeftUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topLeft" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonTwoRightLink}}?{{email.pagenameConverted}}{{email.comingSoonTwoRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTwoRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonTwoRightAlt}}" border="0" class="hover" height="auto" src="{{comingSoonTwoRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTwoRightProgram || comingSoonTwoRightTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonTwoRightLink}}?{{email.pagenameConverted}}{{email.comingSoonTwoRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTwoRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonTwoRightProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonTwoRightProgram && email.showControls">
                                  <div *ngIf="comingSoonTwoRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonTwoRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonTwoRightTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonTwoRightTitle && email.showControls">
                                  <div *ngIf="comingSoonTwoRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonTwoRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTwoRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTwoRightButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonTwoRightLink}}?{{email.pagenameConverted}}{{email.comingSoonTwoRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonTwoRightUTM}}" (click)="$event.preventDefault()">{{comingSoonTwoRightButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonTwoRightDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonTwoRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonTwoRightDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoRightTitle',comingSoonTwoRightTitle)" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonTwoRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTwoRightAirDate',comingSoonTwoRightAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoRightButton',comingSoonTwoRightButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonTwoRightDescription" (focus)="select.selectAllText($event)" (change)="comingSoonTwoRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonTwoRightDescription',comingSoonTwoRightDescription);" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoRightImage',comingSoonTwoRightImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoRightAlt',comingSoonTwoRightAlt)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoRightLink',comingSoonTwoRightLink)" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonTwoRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonTwoRightUTM',comingSoonTwoRightUTM)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topRight" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>