<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr>
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{extraSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{extraSingleColumnUTM}}" (click)="$event.preventDefault()">
                                  <img alt="{{extraSingleColumnAlt}}" border="0" class="hover" src="{{extraSingleColumnImage}}" width="600">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="extraSingleColumnTitle || extraSingleColumnSubTitle || extraSingleColumnAdditionalInfo">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{extraSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{extraSingleColumnContent}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{extraSingleColumnTitle}}</span>
                                  <br class="destroy" *ngIf="extraSingleColumnTitle && email.showControls">
                                  <div *ngIf="extraSingleColumnTitle && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="extraSingleColumnTitle && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{extraSingleColumnSubTitle}}</span>
                                  <br class="destroy" *ngIf="extraSingleColumnSubTitle && email.showControls">
                                  <div *ngIf="extraSingleColumnSubTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="extraSingleColumnSubTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(extraSingleColumnAdditionalInfo)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(extraSingleColumnDescription)" class="full" style="text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="extraSingleColumnButton">
                              <td align="center" style="padding-left: 16px; padding-right: 16px; padding-top: 0; padding-bottom: 0;">
                                <table border="0" align="center" cellpadding="0" cellspacing="0" class="emailButton" style="background-color: #5D5098; text-align: center;">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:30px;">
                                        <a href="{{extraSingleColumnLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{extraSingleColumnUTM}}" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none;" (click)="$event.preventDefault()">{{extraSingleColumnButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Title&nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnTitle" (focus)="select.selectAllText($event)" (change)="
                            addVariables(); createTemplate.changeVariables('extraSingleColumnTitle',extraSingleColumnTitle);" placeholder="ex: Mike Wheeler">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Subtitle&nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnSubTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('extraSingleColumnSubTitle',extraSingleColumnSubTitle);" placeholder="ex: He's here to help!">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>More Info (accepts HTML)&nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnAdditionalInfo" (focus)="select.selectAllText($event)" (change)="extraSingleColumnAdditionalInfo = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('extraSingleColumnAdditionalInfo',extraSingleColumnAdditionalInfo);" placeholder="ex: Call Me<br>(949)216-0879">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Description (accepts HTML)&nbsp;</label>
                        <textarea (focus)="select.selectAllText($event)" (change)="extraSingleColumnDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('extraSingleColumnDescription',extraSingleColumnDescription);" [(ngModel)]="extraSingleColumnDescription" placeholder="ex: If it's summertime, it's baseball time! Sure, PBS SoCal doesn't broadcast sports, but we can help you get to know the people who play the game. Or, in this case, are practically synonymous with the game. Discover the many sides of Baseball Hall of Famer and Boston Red Sox player Ted Williams, including his complex relationships with his Mexican-American background, family, press and fans."></textarea>
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Source &nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnImage" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('extraSingleColumnImage',extraSingleColumnImage);" placeholder="Image Source">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Alt Tag &nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnAlt" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('extraSingleColumnAlt',extraSingleColumnAlt)" placeholder="Image Alt">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Link &nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnLink" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('extraSingleColumnLink',extraSingleColumnLink);" placeholder="Link for image, title, and button">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Button Text &nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnButton" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('extraSingleColumnButton',extraSingleColumnButton);" placeholder="ex: LEARN MORE">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>UTM Content &nbsp;</label>
                        <input [(ngModel)]="extraSingleColumnUTM" (focus)="select.selectAllText($event);" (change)="createTemplate.changeVariables('extraSingleColumnUTM',extraSingleColumnUTM);" placeholder="ex: Extra%20Email%20Section">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>