<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnTwoLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTwoLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnTwoLeftAlt}}" border="0" class="hover" height="auto" src="{{upcomingShowsColumnTwoLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTwoLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTwoLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{upcomingShowsColumnTwoLeftProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTwoLeftProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTwoLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTwoLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTwoLeftLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTwoLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnTwoLeftTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTwoLeftTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTwoLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTwoLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTwoLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoLeftProgram" (focus)="select.selectAllText($event)" (change)="
                                  createTemplate.changeVariables('upcomingShowsColumnTwoLeftProgram',upcomingShowsColumnTwoLeftProgram); addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoLeftTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoLeftTitle',upcomingShowsColumnTwoLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoLeftAirDate" (focus)="select.selectAllText($event)" (change)="upcomingShowsColumnTwoLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTwoLeftAirDate',upcomingShowsColumnTwoLeftAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnTwoLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTwoLeftDescription + '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnTwoLeftLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnTwoLeftUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnTwoLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTwoLeftDescription',upcomingShowsColumnTwoLeftDescription);" [(ngModel)]="upcomingShowsColumnTwoLeftDescription" (focus)="select.selectAllText($event)" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoLeftImage',upcomingShowsColumnTwoLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoLeftAlt',upcomingShowsColumnTwoLeftAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoLeftLink',upcomingShowsColumnTwoLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoLeftUTM',upcomingShowsColumnTwoLeftUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{upcomingShowsColumnTwoRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTwoRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{upcomingShowsColumnTwoRightAlt}}" border="0" class="hover" height="auto" src="{{upcomingShowsColumnTwoRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTwoRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTwoRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{upcomingShowsColumnTwoRightProgram}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTwoRightProgram && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTwoRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTwoRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a href="{{upcomingShowsColumnTwoRightLink}}?utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{upcomingShowsColumnTwoRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{upcomingShowsColumnTwoRightTitle}}</span>
                                  <br class="destroy" *ngIf="upcomingShowsColumnTwoRightTitle && email.showControls">
                                  <div *ngIf="upcomingShowsColumnTwoRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="upcomingShowsColumnTwoRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTwoRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoRightProgram" (focus)="select.selectAllText($event)" (change)="
                                  createTemplate.changeVariables('upcomingShowsColumnTwoRightProgram', upcomingShowsColumnTwoRightProgram); addVariables()" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoRightTitle',upcomingShowsColumnTwoRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoRightAirDate" (focus)="select.selectAllText($event)" (change)="upcomingShowsColumnTwoRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTwoRightAirDate',upcomingShowsColumnTwoRightAirDate)" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="upcomingShowsColumnTwoRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(upcomingShowsColumnTwoRightDescription  +  '&nbsp;<a style=&quot;display: inline;&quot; href=&quot;' + upcomingShowsColumnTwoRightLink + '?utm_source=' + email.utmSource + '&utm_medium=' + email.utmMedium + '&utm_campaign=' + email.utmCampaign + '&utm_content=' + upcomingShowsColumnTwoRightUTM + '&quot; (click)=&quot;$event.preventDefault()&quot;>Watch Preview</a>.')" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" (change)="upcomingShowsColumnTwoRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('upcomingShowsColumnTwoRightDescription',upcomingShowsColumnTwoRightDescription)" [(ngModel)]="upcomingShowsColumnTwoRightDescription" (focus)="select.selectAllText($event)" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoRightImage',upcomingShowsColumnTwoRightImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoRightAlt',upcomingShowsColumnTwoRightAlt)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoRightLink',upcomingShowsColumnTwoRightLink)" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="upcomingShowsColumnTwoRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('upcomingShowsColumnTwoRightUTM',upcomingShowsColumnTwoRightUTM)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="1">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>