<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" class="full" border="0" cellspacing="0" cellpadding="0" width="100%" align="center" bgcolor="#FFFFFF">
  <tbody>
    <tr>
      <td width="100%" align="center" valign="top">
        <table class="mobile" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
          <tbody>
            <tr>
              <td align="center">
                <table class="full" border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                  <tbody>
                    <tr>
                      <td width="100%" align="center">
                        <table class="fullCenter" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                          <tbody>
                            <tr>
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" width="100%" valign="middle">
                                <a style="color: #000000; text-decoration: none;" href="{{email.passportLearnMoreLink}}?{{email.pagenameConverted}}{{email.passportLearnMoreAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=Passport%20FAQ">{{passportLearnMoreTitle}}</a>
                              </td>
                            </tr>
                            <tr>
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <tr>
                              <a class="no-pointer" style="text-decoration: none;" href="{{email.passportLearnMoreLink}}?{{email.pagenameConverted}}{{email.passportLearnMoreAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=Passport%20FAQ">
                                <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(passportLearnMoreDescription)" class="full" style="text-decoration: none; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" width="100%" valign="middle">
                                </td>
                              </a>
                            </tr>
                            <tr>
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr *ngIf="passportLearnMoreButton">
                              <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{email.passportLearnMoreLink}}?{{email.pagenameConverted}}{{email.passportLearnMoreAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content=Passport%20FAQ">{{passportLearnMoreButton | uppercase}}</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td width="100%" height="16">&nbsp;</td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Title</label>
                        <input [(ngModel)]="passportLearnMoreTitle" placeholder="ex: Have Questions About PBS SoCal Passport?" value="{{passportLearnMoreTitle}}" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportLearnMoreTitle', passportLearnMoreTitle);">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td width="100%" height="16">&nbsp;</td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Text (accepts HTML)</label>
                        <textarea [(ngModel)]="passportLearnMoreDescription" (focus)="select.selectAllText($event)" (change)="passportLearnMoreDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('passportLearnMoreDescription', passportLearnMoreDescription);" placeholder="ex: Check out our new <b class='pointer'>FAQ</b> for answers to common questions on activating your account and setting up Passport on different devices." value="{{passportLearnMoreDescription}}"></textarea>
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td width="100%" height="16">&nbsp;</td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Button Text</label>
                        <input [(ngModel)]="passportLearnMoreButton" placeholder="ex: Have Questions About PBS SoCal Passport?" value="{{passportLearnMoreButton}}" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportLearnMoreButton',passportLearnMoreButton);">
                      </td>
                    </tr>
                    <app-add-interest-full-width [addComponent]="passportLearnMore" class="destroy" *ngIf="email.showControls"></app-add-interest-full-width>
                    <tr>
                      <td width="100%" height="16">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>