<span style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0; mso-hide:all;">{{email.superSubjectLink}}</span>
<table *ngIf="!email.showControls" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#eeeeee">
    <tbody>
        <tr>
            <td width="100%" valign="top" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                                    <tbody>
                                        <tr>
                                            <td width="100%" align="right" valign="middle" style="text-align: right; font-family: Arial, sans-serif; font-size: 14px; color: #000000; padding-top:5px; padding-right:5px; padding-bottom:5px; padding-left:5px; font-weight: 300;">
                                                <a style="text-align: right; text-decoration: none; font-family: Arial, sans-serif; font-size: 14px; color: #515052; line-height: 38px; font-weight: 300;" href="http://donate.pbssocal.org/site/MessageViewer" (click)="$event.preventDefault()">View In Browser</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<app-header></app-header>
<router-outlet></router-outlet>
<div *ngIf="email.showControls" class="toggle-controls">
    <button (click)="toggleControls()">View & Save</button>
</div>
<div *ngIf="!email.showControls" class="toggle-controls">
    <button (click)="toggleControls()">Edit Email</button>
</div>
<div *ngIf="hasCache && email.showControls" class="clear-storage">
    <button (click)="clearStorage()">Clear Storage</button>
</div>
<div class="hide-buttons"></div>