button {
    background-color: #f37021;
}

button:hover{
    background-color: #2f2f2f;
}

.clear-storage {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 287px;
    height: 50px;
    padding-top: 7px;
    z-index: 2;
}

.clear-storage > button {
    float: left;
}

.toggle-controls {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 287px;
    height: 50px;
    padding-top: 7px;
    z-index: 2;
}

.toggle-controls > button {
    float: right;
}