<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr *ngIf="showComponent">
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonThreeLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonThreeLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonThreeLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonThreeLeftAlt}}" border="0" class="hover" height="auto" src="{{comingSoonThreeLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonThreeLeftProgram || comingSoonThreeLeftTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonThreeLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonThreeLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonThreeLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonThreeLeftProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonThreeLeftProgram && email.showControls">
                                  <div *ngIf="comingSoonThreeLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonThreeLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonThreeLeftTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonThreeLeftTitle && email.showControls">
                                  <div *ngIf="comingSoonThreeLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonThreeLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonThreeLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonThreeLeftButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonThreeLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonThreeLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonThreeLeftUTM}}" (click)="$event.preventDefault()">{{comingSoonThreeLeftButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonThreeLeftDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonThreeLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonThreeLeftDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeLeftTitle',comingSoonThreeLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonThreeLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonThreeLeftAirDate',comingSoonThreeLeftAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeLeftButton',comingSoonThreeLeftButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonThreeLeftDescription" (focus)="select.selectAllText($event)" (change)="comingSoonThreeLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonThreeLeftDescription',comingSoonThreeLeftDescription);" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeLeftImage',comingSoonThreeLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeLeftAlt',comingSoonThreeLeftAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeLeftLink',comingSoonThreeLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeLeftUTM',comingSoonThreeLeftUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topLeft" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonThreeRightLink}}?{{email.pagenameConverted}}{{email.comingSoonThreeRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonThreeRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonThreeRightAlt}}" border="0" class="hover" height="auto" src="{{comingSoonThreeRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonThreeRightProgram || comingSoonThreeRightTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonThreeRightLink}}?{{email.pagenameConverted}}{{email.comingSoonThreeRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonThreeRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonThreeRightProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonThreeRightProgram && email.showControls">
                                  <div *ngIf="comingSoonThreeRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonThreeRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonThreeRightTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonThreeRightTitle && email.showControls">
                                  <div *ngIf="comingSoonThreeRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonThreeRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonThreeRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonThreeRightButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonThreeRightLink}}?{{email.pagenameConverted}}{{email.comingSoonThreeRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonThreeRightUTM}}" (click)="$event.preventDefault()">{{comingSoonThreeRightButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonThreeRightDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonThreeRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonThreeRightDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeRightTitle',comingSoonThreeRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonThreeRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonThreeRightAirDate',comingSoonThreeRightAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeRightButton',comingSoonThreeRightButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonThreeRightDescription" (focus)="select.selectAllText($event)" (change)="comingSoonThreeRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonThreeRightDescription',comingSoonThreeRightDescription);" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeRightImage',comingSoonThreeRightImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeRightAlt',comingSoonThreeRightAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeRightLink',comingSoonThreeRightLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonThreeRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonThreeRightUTM',comingSoonThreeRightUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topRight" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>