<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" class="full" border="0" cellspacing="0" cellpadding="0" width="100%" align="center" bgcolor="#FFFFFF">
  <tbody>
    <tr>
      <td width="100%" align="center" valign="top">
        <table class="mobile" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
          <tbody>
            <tr>
              <td align="center">
                <table class="full" border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                  <tbody>
                    <tr>
                      <td width="100%" align="center">
                        <table class="full" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                          <tbody>
                            <tr>
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="image600" style="text-align: center; line-height: 1px;" width="100%" align="center">
                                <a style="text-decoration: none;" href="{{singleImageLink}}?{{email.pagenameConverted}}{{email.singleImageAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content=bottom-image"><img class="hover" src="{{singleImageSource}}" border="0" alt="" width="600"></a>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image</label>
                                <input [(ngModel)]="singleImageSource" placeholder="ex: http://via.placeholder.com/1200x675" value="{{singleImageSource}}" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleImageSource',singleImageSource);">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Link</label>
                                <input [(ngModel)]="singleImageLink" placeholder="ex: https://www.youtube.com/watch?v=DJ4hDppP_SQ&t=7s" value="{{singleImageLink}}" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('singleImageLink',singleImageLink);">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td width="100%" height="16">&nbsp;</td>
                            </tr>
                            <app-add-interest-full-width [addComponent]="singleImageSection" class="destroy" *ngIf="email.showControls"></app-add-interest-full-width>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>