<table *ngIf="email.showControls" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative height-49" bgcolor="#ffffff">
  <tr>
      <td width="100%" valign="top" align="center">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
              <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
              <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
          </table>
      </td>
  </tr>
</table>
<table class="divider" *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr>
                      <td bgcolor="#F1F1F1" height="1" style="font-size: 1px; line-height: 1px;" width="100%">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>