<app-divider [showComponent]="showComponent"></app-divider>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; color: #000000; line-height: 28px; font-weight: 300; text-transform: uppercase;" valign="middle" width="100%">{{streamingNow | uppercase}}</td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Heading</label><input [(ngModel)]="streamingNow" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('streamingNow',streamingNow);" placeholder="ex: STREAMING NOWS">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<app-divider [showComponent]="showComponent"></app-divider>