<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative height-49" bgcolor="#ffffff">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{passportAdHeaderLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{passportAdHeaderUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{passportAdHeaderAlt}}" border="0" class="hover" height="auto" src="{{passportAdHeaderImage}}" style="height: auto;" width="350">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
          <tbody>
            <tr class="destroy" *ngIf="email.showControls">
              <td height="16" width="100%"></td>
            </tr>
            <tr class="destroy" *ngIf="email.showControls">
              <td>
                <label>Image Source &nbsp;</label>
                <input [(ngModel)]="passportAdHeaderImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdHeaderImage',passportAdHeaderImage)" placeholder="Image Source">
              </td>
            </tr>
            <tr class="destroy" *ngIf="email.showControls">
              <td>
                <label>Image Alt Tag &nbsp;</label>
                <input [(ngModel)]="passportAdHeaderAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdHeaderAlt',passportAdHeaderAlt)" placeholder="Image Alt">
              </td>
            </tr>
            <tr class="destroy" *ngIf="email.showControls">
              <td>
                <label>Link &nbsp;</label>
                <input [(ngModel)]="passportAdHeaderLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdHeaderLink',passportAdHeaderLink)" placeholder="Link for image, title, and Watch Preview">
              </td>
            </tr>
            <tr class="destroy" *ngIf="email.showControls">
              <td>
                <label>UTM Content &nbsp;</label>
                <input [(ngModel)]="passportAdHeaderUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdHeaderUTM',passportAdHeaderUTM)" placeholder="ex: Passport%20Great%20British%20Baking%20Show">
              </td>
            </tr>
            <tr class="destroy" *ngIf="email.showControls">
              <td height="16" width="100%"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<app-passport-ad *ngIf="showComponent"></app-passport-ad>