<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="32" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonBottomLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonBottomLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonBottomLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonBottomLeftAlt}}" border="0" class="hover" height="auto" src="{{comingSoonBottomLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonBottomLeftProgram || comingSoonBottomLeftTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonBottomLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonBottomLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonBottomLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonBottomLeftProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonBottomLeftProgram && email.showControls">
                                  <div *ngIf="comingSoonBottomLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonBottomLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonBottomLeftTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonBottomLeftTitle && email.showControls">
                                  <div *ngIf="comingSoonBottomLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonBottomLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonBottomLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonBottomLeftButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonBottomLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonBottomLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonBottomLeftUTM}}" (click)="$event.preventDefault()">{{comingSoonBottomLeftButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonBottomLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonBottomLeftDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftProgram" (focus)="select.selectAllText($event)" (change)="
                                addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomLeftTitle',comingSoonBottomLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonBottomLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonBottomLeftAirDate',comingSoonBottomLeftAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomLeftButton',comingSoonBottomLeftButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonBottomLeftDescription" (focus)="select.selectAllText($event)" (change)="comingSoonBottomLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonBottomLeftDescription',comingSoonBottomLeftDescription);" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomLeftImage',comingSoonBottomLeftImage)" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomLeftAlt',comingSoonBottomLeftAlt)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomLeftLink',comingSoonBottomLeftLink)" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomLeftUTM',comingSoonBottomLeftUTM)" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="bottomLeft" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonBottomRightLink}}?{{email.pagenameConverted}}{{email.comingSoonBottomRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonBottomRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonBottomRightAlt}}" border="0" class="hover" height="auto" src="{{comingSoonBottomRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonBottomRightProgram || comingSoonBottomRightTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonBottomRightLink}}?{{email.pagenameConverted}}{{email.comingSoonBottomRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonBottomRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonBottomRightProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonBottomRightProgram && email.showControls">
                                  <div *ngIf="comingSoonBottomRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonBottomRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonBottomRightTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonBottomRightTitle && email.showControls">
                                  <div *ngIf="comingSoonBottomRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonBottomRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonBottomRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonBottomRightButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonBottomRightLink}}?{{email.pagenameConverted}}{{email.comingSoonBottomRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonBottomRightUTM}}" (click)="$event.preventDefault()">{{comingSoonBottomRightButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonBottomRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonBottomRightDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomRightTitle',comingSoonBottomRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonBottomRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonBottomRightAirDate',comingSoonBottomRightAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomRightButton',comingSoonBottomRightButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonBottomRightDescription" (focus)="select.selectAllText($event)" (change)="comingSoonBottomRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonBottomRightDescription',comingSoonBottomRightDescription);" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomRightImage',comingSoonBottomRightImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomRightAlt',comingSoonBottomRightAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomRightLink',comingSoonBottomRightLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonBottomRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonBottomRightUTM',comingSoonBottomRightUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="bottomRight" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>