<tr class="destroy">
  <td height="8" width="100%"></td>
</tr>
<tr class="destroy">
  <td>
    <label>Add Interest &nbsp;</label>
    <select class="add-interest" [(ngModel)]="email[addComponent]" (ngModelChange)="this.interest.setAddInterests($event, addComponent); createTemplate.setStorage();">
      <option *ngFor="let interest of addInterest" [value]="interest.id">
        {{interest.category}}{{interest.id == 0 ? '' : '(' + interest.id + ')'}}
      </option>
    </select>
  </td>
</tr>