<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="32" width="100%"></td>
                            </tr>
                            <tr>
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{monthLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{monthUTM}}" (click)="$event.preventDefault()">
                                  <img alt="{{monthAlt}}" border="0" class="hover" src="{{monthImage}}" width="600">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="monthDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="monthDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(monthDescription)" class="full" style="text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr *ngIf="monthButton">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="monthButton">
                              <td align="center" style="padding-left: 16px; padding-right: 16px; padding-top: 0; padding-bottom: 0;">
                                <table border="0" align="center" cellpadding="0" cellspacing="0" class="emailButton" style="background-color: #5D5098; text-align: center;">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:30px;">
                                        <a href="{{monthLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{monthUTM}}" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none;" (click)="$event.preventDefault()">{{monthButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Source &nbsp;</label>
                        <input [(ngModel)]="monthImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('monthImage',monthImage);" placeholder="Image Source">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Alt Tag &nbsp;</label>
                        <input [(ngModel)]="monthAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('monthAlt',monthAlt);" placeholder="Image Alt">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Link &nbsp;</label>
                        <input [(ngModel)]="monthLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('monthLink',monthLink);" placeholder="Link for image, title, and button">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Button Text &nbsp;</label>
                        <input [(ngModel)]="monthButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('monthButton',monthButton);" placeholder="ex: PLAN YOUR JULY">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>UTM Content &nbsp;</label>
                        <input [(ngModel)]="monthUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('monthUTM',monthUTM);" placeholder="ex: Plan%20Your%20July">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Description (accepts HTML)&nbsp;</label>
                        <textarea (change)="monthDescription = createTemplate.changeParagraphTags($event)" [(ngModel)]="monthDescription" (focus)="select.selectAllText($event)"  (change)="createTemplate.changeVariables('monthDescription',monthDescription);" placeholder="ex: While there are just a few days left in July, there’s no shortage of fun. Round out your month with music, dancing, film festivals, or even the first California Pizza Festival!"></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>