<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr *ngIf="showComponent">
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="32" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonFourLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonFourLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonFourLeftUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonFourLeftAlt}}" border="0" class="hover" height="auto" src="{{comingSoonFourLeftImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonFourLeftProgram || comingSoonFourLeftTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonFourLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonFourLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonFourLeftUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonFourLeftProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonFourLeftProgram && email.showControls">
                                  <div *ngIf="comingSoonFourLeftProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonFourLeftProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonFourLeftTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonFourLeftTitle && email.showControls">
                                  <div *ngIf="comingSoonFourLeftTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonFourLeftTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonFourLeftAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonFourLeftButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonFourLeftLink}}?{{email.pagenameConverted}}{{email.comingSoonFourLeftAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonFourLeftUTM}}" (click)="$event.preventDefault()">{{comingSoonFourLeftButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonFourLeftDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonFourLeftDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonFourLeftDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourLeftTitle',comingSoonFourLeftTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonFourLeftAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonFourLeftAirDate',comingSoonFourLeftAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourLeftButton',comingSoonFourLeftButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonFourLeftDescription" (focus)="select.selectAllText($event)" (change)="comingSoonFourLeftDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonFourLeftDescription',comingSoonFourLeftDescription);" placeholder="ex: When unarmed black teenager Michael Brown was killed by a white police officer in Ferguson, Missouri, and left lying in the street for hours, it marked a breaking point for the residents of the St. Louis area and beyond. Hear from the activists and leaders who, inspired by Brown's death, decided to fight back."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourLeftImage',comingSoonFourLeftImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourLeftAlt',comingSoonFourLeftAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourLeftLink',comingSoonFourLeftLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourLeftUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourLeftUTM',comingSoonFourLeftUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topLeft" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{comingSoonFourRightLink}}?{{email.pagenameConverted}}{{email.comingSoonFourRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonFourRightUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{comingSoonFourRightAlt}}" border="0" class="hover" height="auto" src="{{comingSoonFourRightImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonFourRightProgram || comingSoonFourRightTitle">
                              <td class="fullCenter" style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{comingSoonFourRightLink}}?{{email.pagenameConverted}}{{email.comingSoonFourRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonFourRightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{comingSoonFourRightProgram}}</span>
                                  <br class="destroy" *ngIf="comingSoonFourRightProgram && email.showControls">
                                  <div *ngIf="comingSoonFourRightProgram && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="comingSoonFourRightProgram && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                  <br>
                                  <span [style.font-size.px]="email.episodeFontSize">{{comingSoonFourRightTitle}}</span>
                                  <br class="destroy" *ngIf="comingSoonFourRightTitle && email.showControls">
                                  <div *ngIf="comingSoonFourRightTitle && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="comingSoonFourRightTitle && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonFourRightAirDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonFourRightButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{comingSoonFourRightLink}}?{{email.pagenameConverted}}{{email.comingSoonFourRightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{comingSoonFourRightUTM}}" (click)="$event.preventDefault()">{{comingSoonFourRightButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="comingSoonFourRightDescription">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="comingSoonFourRightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(comingSoonFourRightDescription)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Program Name &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightProgram" (focus)="select.selectAllText($event)" (change)="addVariables();" placeholder="ex: POV">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title of Episode &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourRightTitle',comingSoonFourRightTitle); createTemplate.triggerUTMChange(true);" placeholder="ex: Whose Streets">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Air Dates (accepts HTML) &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightAirDate" (focus)="select.selectAllText($event)" (change)="comingSoonFourRightAirDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonFourRightAirDate',comingSoonFourRightAirDate);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourRightButton',comingSoonFourRightButton);" placeholder="ex: Monday, July 23, 9:00 p.m.">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea class="description-small" [(ngModel)]="comingSoonFourRightDescription" (focus)="select.selectAllText($event)" (change)="comingSoonFourRightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('comingSoonFourRightDescription',comingSoonFourRightDescription);" placeholder="ex: If you've been following the story about immigrant children being separated from their parents at the border, you won't want to miss this episode of FRONTLINE, which provides an inside look at that very issue. The film also explores the impact of the Trump administration’s “zero tolerance” policy, and how both Trump."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourRightImage',comingSoonFourRightImage);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourRightAlt',comingSoonFourRightAlt);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourRightLink',comingSoonFourRightLink);" placeholder="Link for image, title and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input class="small-input" [(ngModel)]="comingSoonFourRightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('comingSoonFourRightUTM',comingSoonFourRightUTM);" placeholder="Defaults to program name">
                              </td>
                            </tr>
                            <app-add-interest [addComponent]="topRight" class="destroy" *ngIf="email.showControls"></app-add-interest>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>