<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; color: #000000; line-height: 28px; font-weight: 300; text-transform: uppercase;" valign="middle" width="100%">{{titleTextTitle | uppercase}}</td>
                            </tr>
                            <tr>
                              <td [innerHtml]="sanitizer.bypassSecurityTrustHtml(titleTextText)" class="full" style="display: inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title</label><input [(ngModel)]="titleTextTitle" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('titleTextTitle',titleTextTitle);" placeholder="ex: https://via.placeholder.com/600x75">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)</label><textarea [(ngModel)]="titleTextText" (focus)="select.selectAllText($event)" (change)="titleTextText = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('titleTextText',titleTextText);" placeholder="ex: I recruited my co-worker, Johnnya Burruss, to convince you to watch Poldark. She sits next to me in the office and is always smiling. But if you ever got between her and Ross Poldark... let's just say that what happened next wouldn't be approved for broadcast on public television."></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>