<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
                  <tbody>
                    <tr>
                      <td height="16" width="100%"></td>
                    </tr>
                  </tbody>
                </table>
                <table *ngIf="passportAdImage" align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" width="100%">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr>
                              <td class="fullcenter" style="text-align: center;" width="100%">
                                <a href="{{passportAdLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{passportAdUTM}}" style="text-decoration: none;" (click)="$event.preventDefault()">
                                  <img alt="{{passportAdAlt}}" border="0" class="hover" height="auto" src="{{passportAdImage}}" style="width:100%!important; height: auto;" width="280">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table *ngIf="passportAdDescription || passportAdButton" align="right" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="280">
                          <tbody>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="passportAdDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(passportAdDescription)" class="full" style="text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400; padding-bottom: 20px;" valign="middle" width="100%">
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="passportAdButton">
                              <td align="center" style="padding-left: 16px; padding-right: 16px; padding-top: 0; padding-bottom: 0;">
                                <table border="0" align="center" cellpadding="0" cellspacing="0" class="emailButton" style="background-color: #5D5098; text-align: center;">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:30px;">
                                        <a href="{{passportAdLink}}?utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{passportAdUTM}}" style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none;" (click)="$event.preventDefault()">{{ passportAdButton | uppercase }}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="16" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Source &nbsp;</label>
                        <input [(ngModel)]="passportAdImage" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdImage',passportAdImage);" placeholder="Image Source">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Image Alt Tag &nbsp;</label>
                        <input [(ngModel)]="passportAdAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdAlt',passportAdAlt);" placeholder="Image Alt">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Link &nbsp;</label>
                        <input [(ngModel)]="passportAdLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdLink',passportAdLink);" placeholder="Link for image, title, and Watch Preview">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>UTM Content &nbsp;</label>
                        <input [(ngModel)]="passportAdUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdUTM',passportAdUTM);" placeholder="ex: Passport%20Great%20British%20Baking%20Show">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Button Text &nbsp;</label>
                        <input [(ngModel)]="passportAdButton" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('passportAdButton',passportAdButton);" placeholder="ex: Binge Now">
                      </td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td height="32" width="100%"></td>
                    </tr>
                    <tr class="destroy" *ngIf="email.showControls">
                      <td>
                        <label>Description (accepts HTML)&nbsp;</label>
                        <textarea class="description-small" (change)="passportAdDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('passportAdDescription',passportAdDescription)"  [(ngModel)]="passportAdDescription" (focus)="select.selectAllText($event)" placeholder="ex: Can’t wait to see which baker will emerge from the tent victorious? Watch the final episodes of The Great British Baking Show, now streaming with PBS SoCal Passport."></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
