<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr *ngIf="partnerSpotlightTwoImageSrc">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoImageSrc">
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{partnerSpotlightTwoLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightTwoAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{partnerSpotlightTwoUTM}}" (click)="$event.preventDefault()">
                                  <img alt="{{partnerSpotlightTwoImageAlt}}" border="0" class="hover" src="{{partnerSpotlightTwoImageSrc}}" width="600">
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoImageSrc">
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr *ngIf="partnerSpotlightTwoTitle || partnerSpotlightTwoLocation">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{partnerSpotlightTwoLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightTwoAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{partnerSpotlightTwoUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{partnerSpotlightTwoTitle}}</span>
                                  <br class="destroy" *ngIf="partnerSpotlightTwoTitle && email.showControls">
                                  <div *ngIf="partnerSpotlightTwoTitle && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="partnerSpotlightTwoTitle && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoTitle || partnerSpotlightTwoLocation">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{partnerSpotlightTwoLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightTwoAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{partnerSpotlightTwoUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{partnerSpotlightTwoLocation}}</span>
                                  <br class="destroy" *ngIf="partnerSpotlightTwoLocation && email.showControls">
                                  <div *ngIf="partnerSpotlightTwoLocation && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="partnerSpotlightTwoLocation && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoDate">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(partnerSpotlightTwoDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoDescription && partnerSpotlightTwoTitle || partnerSpotlightTwoDescription && partnerSpotlightTwoLocation || partnerSpotlightTwoDescription && partnerSpotlightTwoDate">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(partnerSpotlightTwoDescription)" class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>&nbsp;
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoDescription || partnerSpotlightTwoTitle || partnerSpotlightTwoLocation || partnerSpotlightTwoDate">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTwoButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{partnerSpotlightTwoLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightTwoAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{partnerSpotlightTwoUTM}}">{{partnerSpotlightTwoButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title&nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTwoTitle" (focus)="select.selectAllText($event)" (change)="this.addVariables()" placeholder="ex: Sunset Concerts at the Skirball">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Location&nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTwoLocation" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightTwoLocation', partnerSpotlightTwoLocation)" placeholder="ex: MGM Grand Garden Arena, Las Vegas">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Date/Time (accepts HTML)&nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTwoDate" (focus)="select.selectAllText($event)" (change)="partnerSpotlightTwoDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('partnerSpotlightTwoDate',partnerSpotlightTwoDate);" placeholder="ex: December 1, 2018 at 8pm">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text</label>
                                <input [(ngModel)]="partnerSpotlightTwoButton" placeholder="ex: Have Questions About PBS SoCal Passport?" value="{{partnerSpotlightTwoButton}}" (click)="select.selectAllText($event)">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea (focus)="select.selectAllText($event)" (change)="partnerSpotlightTwoDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('partnerSpotlightTwoDescription', partnerSpotlightTwoDescription);" [(ngModel)]="partnerSpotlightTwoDescription" placeholder="ex: Summer Thursdays now through August 30, experience FREE live music under the stars featuring diverse artists from around the globe! Plus, the museum will be open late with your chance to see Bernstein at 100 and The Jim Henson Exhibition."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTwoImageSrc" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightTwoImageSrc', partnerSpotlightTwoImageSrc);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt Tag &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTwoImageAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightTwoImageAlt', partnerSpotlightTwoImageAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTwoLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightTwoLink', partnerSpotlightTwoLink)" placeholder="Link for image, title, and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTwoUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightTwoLink', partnerSpotlightTwoLink);" placeholder="ex: The-Doctor-Blake-Mysteries">
                              </td>
                            </tr>
                            <app-add-interest-full-width [addComponent]="partnerSpotlight" class="destroy" *ngIf="email.showControls"></app-add-interest-full-width>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>