@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: black;
}

button {
    background-color: #5D5098;
    color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 600;
    border: none;
}

.mat-datepicker-toggle {
    color:#5D5098;
}

.mat-datepicker-toggle-active {
    color: #3f51b5;
}

button.mat-icon-button:hover {
    background-color: #5D5098;
    color: #fff;
}

button:hover{
    cursor: pointer;
    background-color: #2f2f2f;
}


button:focus {
    outline: 0;
}

input, textarea {
    float: right;
    padding-left: 2px;
    width: 398px;
}

select.add-interest {
    max-width: 282px;
    width: 100%;
}

textarea {
    min-height: 200px;
}
.controls {
    display: inline-block;
    margin: 5px 10px;
    padding: 0 7px;
    font-size: 24px;
    background-color:#5D5098;
    color: #fff;
}

.controls:hover{
    background-color:#000;
}

.divider {
    background-color: #eee;
    color: #000;
  }
  
  .divider:hover{
    background-color: #ccc;
    color: #000;
  }

.height-49{
    height: 49px;
}

.pointer:hover {
    cursor: pointer;
}

.relative {
    position: relative;
}

.remove-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}

.restore-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index:1;
}

/* from luminate */
body *{font-family: Arial, sans-serif !important}
body, table, td, p, table.MsoNormalTable {font-family: Arial, sans-serif !important;}

div, p, a, li, td { -webkit-text-size-adjust:none; }

*{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
td{word-break: break-word;}
a{word-break: break-word; text-decoration: none; color: inherit; color: #000000;}

body .ReadMsgBody
{width: 100%; background-color: #ffffff;}
body .ExternalClass
{width: 100%; background-color: #ffffff;}
body{width: 100%; height: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;}

body p {padding: 0!important; margin-top: 0!important; margin-right: 0!important; margin-bottom: 0!important; margin-left: 0!important; }
body img {user-drag: none; -moz-user-select: none; -webkit-user-drag: none;}
body .hover:hover {opacity:0.85;filter:alpha(opacity=85);}

body .logo img {width: 117px; height: auto;}
body .image600 img {width: 600px; height: auto;}
body .image190 img {width: 184px; height: auto;}
body .imagesquare img {width: 138px; height: auto;}
body .adbanner img {width: 300px!important;}
body .show-on-mobile {display: none;}

@media only screen and (max-width: 640px){
body body{width:auto!important;}
body table[class=full] {width: 100%!important; clear: both; }
body table[class=mobile] {width: 100%!important; padding-left: 20px; padding-right: 20px; clear: both; }
body table[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
body td[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
body .erase {display: none;}
body .show-on-mobile {display: block !important;}
body .image600 img {width: 100%!important;}
body .adbanner img {width: 300px!important;}
.headmobile { height: auto!important; }
.emailButton { max-width:630px !important; width:100% !important; }
.emailButton a { display:block !important; font-size:18px !important; }
}

@media only screen and (max-width: 479px){
body body{width:auto!important;}
body table[class=full] {width: 100%!important; clear: both; }
body table[class=mobile] {width: 100%!important; padding-left: 20px; padding-right: 20px; clear: both; }
body table[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
body table img[class=mobile-image] {width: 100%!important;}
body td[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
body .erase {display: none;}
body .heading {font-size: 26px!important; line-height: 34px!important;}
body .image600 img {width: 100%!important;}
body .adbanner img {width: 300px!important;}
.headmobile { height: auto!important; }
}
#colophon, #masthead {
display: none;
}