<app-divider *ngIf="showComponent" [showComponent]="showComponent"></app-divider>
<table *ngIf="email.showControls" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full relative height-49" width="100%">
  <tr>
    <td width="100%" valign="top" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full relative" bgcolor="#ffffff">
        <app-remove-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-remove-button>
        <app-restore-button [component]="component" [showComponent]="showComponent" (click)='toggleControls()'></app-restore-button>
      </table>
    </td>
  </tr>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr *ngIf="partnerSpotlightImageSrc">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightImageSrc">
                              <td align="center" class="image600" style="text-align: center; line-height: 1px;" width="100%">
                                <a href="{{partnerSpotlightLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightAddInterestConverted}}utm_source={{email.utmSource}}&utm_medium={{email.utmMedium}}&utm_campaign={{email.utmCampaign}}&utm_content={{partnerSpotlightUTM}}" (click)="$event.preventDefault()">
                                  <img alt="{{partnerSpotlightImageAlt}}" border="0" class="hover" src="{{partnerSpotlightImageSrc}}" width="600">
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="partnerSpotlightImageSrc">
                              <td height="16" width="100%"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table *ngIf="showComponent" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="full" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="mobile" width="100%">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="full" width="600">
                  <tbody>
                    <tr>
                      <td align="center" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullCenter" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="600">
                          <tbody>
                            <tr *ngIf="partnerSpotlightTitle || partnerSpotlightLocation">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{partnerSpotlightLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{partnerSpotlightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.programFontSize">{{partnerSpotlightTitle}}</span>
                                  <br class="destroy" *ngIf="partnerSpotlightTitle && email.showControls">
                                  <div *ngIf="partnerSpotlightTitle && email.showControls" class="controls" (click)="font.programIncrease()">+</div>
                                  <div *ngIf="partnerSpotlightTitle && email.showControls" class="controls" (click)="font.programDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="partnerSpotlightTitle || partnerSpotlightLocation">
                              <td style="text-align: center; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 300;" valign="middle" width="100%">
                                <a class="skip-this-node" href="{{partnerSpotlightLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{partnerSpotlightUTM}}" style="color: #000000; text-decoration: none;" (click)="$event.preventDefault()">
                                  <span [style.font-size.px]="email.episodeFontSize">{{partnerSpotlightLocation}}</span>
                                  <br class="destroy" *ngIf="partnerSpotlightLocation && email.showControls">
                                  <div *ngIf="partnerSpotlightLocation && email.showControls" class="controls" (click)="font.episodeIncrease()">+</div>
                                  <div *ngIf="partnerSpotlightLocation && email.showControls" class="controls" (click)="font.episodeDecrease()">-</div>
                                </a>
                              </td>
                            </tr>
                            <tr *ngIf="partnerSpotlightDate">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(partnerSpotlightDate)" style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; line-height: 28px; color: #000; font-weight: 300;" valign="middle" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightDescription && partnerSpotlightTitle || partnerSpotlightDescription && partnerSpotlightLocation || partnerSpotlightDescription && partnerSpotlightDate">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightDescription">
                              <td [innerHTML]="sanitizer.bypassSecurityTrustHtml(partnerSpotlightDescription)" class="full" style="display:inline; text-align: left; font-family: Arial, sans-serif; font-size: 14px; color: #4d4d4d; line-height: 22px; font-weight: 400;" valign="middle" width="100%"></td>&nbsp;
                            </tr>
                            <tr *ngIf="partnerSpotlightDescription || partnerSpotlightTitle || partnerSpotlightLocation || partnerSpotlightDate">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr *ngIf="partnerSpotlightButton">
                              <td>
                                <table class="emailButton" style="background-color: #5d5098; text-align: center;" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;" align="center" valign="middle">
                                        <a style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none !important;" href="{{partnerSpotlightLink}}?{{email.pagenameConverted}}{{email.partnerSpotlightAddInterestConverted}}utm_source={{email.utmSource}}&amp;utm_medium={{email.utmMedium}}&amp;utm_campaign={{email.utmCampaign}}&amp;utm_content={{partnerSpotlightUTM}}">{{partnerSpotlightButton | uppercase}}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Title&nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightTitle" (focus)="select.selectAllText($event)" (change)="this.addVariables()" placeholder="ex: Sunset Concerts at the Skirball">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Location&nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightLocation" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightLocation',partnerSpotlightLocation);"placeholder="ex: MGM Grand Garden Arena, Las Vegas">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Date/Time (accepts HTML)&nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightDate" (focus)="select.selectAllText($event)" (change)="partnerSpotlightDate = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('partnerSpotlightDate',partnerSpotlightDate);" placeholder="ex: December 1, 2018 at 8pm">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Button Text</label>
                                <input [(ngModel)]="partnerSpotlightButton" placeholder="ex: Have Questions About PBS SoCal Passport?" value="{{partnerSpotlightButton}}" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightButton',partnerSpotlightButton);">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Description (accepts HTML)&nbsp;</label>
                                <textarea (focus)="select.selectAllText($event)" (change)="partnerSpotlightDescription = createTemplate.changeParagraphTags($event); createTemplate.changeVariables('partnerSpotlightDescription',partnerSpotlightDescription);" [(ngModel)]="partnerSpotlightDescription" placeholder="ex: Summer Thursdays now through August 30, experience FREE live music under the stars featuring diverse artists from around the globe! Plus, the museum will be open late with your chance to see Bernstein at 100 and The Jim Henson Exhibition."></textarea>
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td height="16" width="100%"></td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Source &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightImageSrc" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightImageSrc',partnerSpotlightImageSrc);" placeholder="Image Source">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Image Alt Tag &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightImageAlt" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightImageAlt',partnerSpotlightImageAlt);" placeholder="Image Alt">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>Link &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightLink" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightLink',partnerSpotlightLink);" placeholder="Link for image, title, and Watch Preview">
                              </td>
                            </tr>
                            <tr class="destroy" *ngIf="email.showControls">
                              <td>
                                <label>UTM Content &nbsp;</label>
                                <input [(ngModel)]="partnerSpotlightUTM" (focus)="select.selectAllText($event)" (change)="createTemplate.changeVariables('partnerSpotlightUTM',partnerSpotlightUTM);" placeholder="ex: The-Doctor-Blake-Mysteries">
                              </td>
                            </tr>
                            <app-add-interest-full-width [addComponent]="partnerSpotlight" class="destroy full-width" *ngIf="email.showControls"></app-add-interest-full-width>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>